
/* Loader */
.synapseLoader{
	display: none;
}
.synapseLoading{
	& .synapseLoader{
		display: block;
	}
}

.synapseLoadAnim {
	margin: 60px auto;
	width: 70px;
	text-align: center;
	& > div{
		width: 18px;
		height: 18px;
		background-color: #fff;
		border-radius: 100%;
		display: inline-block;
		animation: synapse-bouncedelay 1.4s infinite ease-in-out both;
		&:nth-of-type(1){
			animation-delay: -0.32s;
		}
		&:nth-of-type(2){
			animation-delay: -0.16s;
		}
	}
}

@keyframes synapse-bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	} 40% {
		transform: scale(1.0);
	}
}
