
.synapseResults{
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 1.8em;
	text-align: left;
	& li{
		margin: 30px 0;
	}
	& a{
		text-decoration: none;
		display: block;
	}
	& a:hover{
		opacity: .8;
	}
}
.synapseTitle, .synapseDesc{
	display: block;
}
.synapseTitle{
	color: #fff;
	font-size: 1.1em;
}
.synapseDesc{
	color: #ccc;
	font-size: .9em;
}
