doctype html
html
	head
		title Search Test
		link(type='text/css' rel='stylesheet' href='synapse-v1.css')
	body
		input.synapseInput
		main Search ESPN.com. "basketball", "sports", "baseball"
		div.synapseToggle Open Search
		script(src='synapse-v1.js')
		script.
			synapse.url="http://www.espn.com/"
			synapse.replaceDomain="http://www.espn.com"
