doctype html
html
	head
		title Search Test
		link(type='text/css' rel='stylesheet' href='search-v1.css')
	body
		input.searchInput
		<main>This is the <b>main</b> content to be searched.</main>
		script(src='search-v1.js')
		script.
			search.url = 'http://localhost:3000/'
			search.replaceDomain = 'http://localhost:3000/'
			search.contentSelector = 'main'
