doctype html
html
	head
		title Search Test
		link(type='text/css' rel='stylesheet' href='synapse-v1.css')
	body
		input.synapseInput
		<main>Search ESPN.com. "basketball", "sports", "baseball"</main>
		script(src='synapse-v1.js')
		script.
			search.url = 'http://www.espn.com/'
			search.replaceDomain = 'http://www.espn.com/'
			search.contentSelector = 'main'
