doctype html
html
	head
		title Search Test
		link(type='text/css' rel='stylesheet' href='search-v1.css')
	body
		input.search
		script(src='search-v1.js')
		script.
			//search.url = 'https://zygote-api-staging.herokuapp.com/'
			search.contentSelector = 'main'
